/* header custom */
header.header{
	background-color: #fff;
	padding: 20px;
}
.header__wrap{
	max-width: 1366px;
	margin:auto;
}
.logo__wrap{
	padding: 30px 0;
	position: relative;
	max-width: 400px;
}
.logo{
 font-size: 45px;
 line-height: 45px;
}
.logo strong{
 text-transform: uppercase;
}
.logo span{
	font-weight: 300;
}
.logo__text{
	font-size: 16px;
	margin:0;
}
.main-menu{
 text-align: center;
}

.main-menu__list{
	list-style: none;
	
	padding: 0;
	margin: 0;
}
.main-menu__list li{
	display: inline-block;
	margin: 5px;
}

.main-menu__list li a{
	text-decoration: none;
	border: 2px #777 solid;
	padding: 5px 20px;
	display: block;
	color:#000;
}
.main-menu__list li a:hover{
  background-color: #3FA21C;
  color:#fff;
}
