/* layout custom */
section.section{
  margin:100px 0;
}
aside.section{
  margin:100px 0;
}
.section__content{
  max-width: 1366px;
  padding: 20px;
  min-height: 750px;
  margin:auto;
}

.flex__wrap{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap; /* no-wrap par défaut  */
}
.flex__item{
	flex: 1;
  align-content: center;
}

.flex__item--4{
  flex:0 0 100%;
  @media (min-width: 481px){
      flex:0 0 50%;
  }
  @media (min-width: 812px){
      flex:0 0 25%;
  }
}
.flex__item--new{
  flex:0 0 100%;
  @media (min-width: 481px){
      flex:0 0 50%;
  }
  @media (min-width: 812px){
      flex:0 0 25%;
  }
}
